# Jupyter notebook 'system' files
**/.ipynb_checkpoints/

# Tests & references
/notebooks/test.ipynb
/notebooks/test2.ipynb

# Test data files
/data/prod_lic_mini.geojson

# Previous versions of published notebooks
/old/

# Temporary files
/temp/
